@font-face {
    font-family: "slack";
    src: url("Lato-Reg.ttf");
}

body {
    font-family: slack; !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.submit {
    color: white;
    background: #4E394C;
}

.submit:hover {
    border: 1px solid #4E394C;
    color: #4E394C;
    background: white;
}

.grey {
    color: rgb(202,196,201);
}

.btn:hover{
    background: white;
    color: #4E394C;
}

.white {
    color: white; !important
}

.white:hover{
    color:white; !important
}

.sidebar {
    height: 100vh;
    background-color: #4E394C;
}

.purple {
    color: white;
    background-color: #4E394C;
}

#channel {
    height: 85vh;
    overflow: auto;
    overflow-x: hidden;
}

#message {
    padding: 5px;
}

.time {
    color: #999;
}

p{
    padding: 0;
    margin: 0;
}