/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */   
p, h2, h4 {
    margin: 0;
}

body {
    background-color: #d5e2ef;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    word-wrap:break-word;
}

.container {
    width: 500px;
    height: auto;
    margin: auto;
}

.header {
    width: 100%;
    height: 200px;
    font-size: 10pt;
    color: white;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.leftSide {
    width: 60%;
    height: 100%;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.leftSide > img {
    width: 50px;
    height: auto;
}

.leftSide > h2 {
    margin: 0 0 50px 0;
}

.rightSide{
    width: 40%;
    height: 100%;
    float: left;
    border-top-right-radius: 10px;
    background: #00000044;
}

.rightSide > button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 175px;
    left: 475px;
    font-size: 16pt;
    border: none;
    border-radius: 50%;
    background: #2ebaee;
}

.insert {
    width: 100%;
    height: 0px;
    overflow: hidden;
    color: white;
    font-size: 10pt;
    background: #3A59A2;
}

.calibrate {
    width: 300px;
    height: auto;
    margin: auto;
}

.insert input, .insert textarea {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: 15px 0 0;
    border: none;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    background: #3A59A2;
}

.insert textarea {
    height: auto;
}

.insert button {
    width: 300px;
    height: 40px;
    margin: 15px 0 0;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    background: #2ebaee;
}

.search {
    width: 100%;
    height: 0px;
    text-align: center;
    overflow: hidden;
}

.list {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
}

.node {
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #b8b9bc;
    box-sizing: border-box;
}

.node > h4 {
    width: 80%;
}

.node > p {
    margin: 10px 0 0;
    font-style: italic;
    color: #717275;
}

.small {
    font-size: 8pt;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-image: url("../img/delete.png");
    background-size: cover; 
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}