@font-face {
    font-family: billabong;
    src: url("billabong.ttf");
}

@font-face {
    font-family: NimbusSanL-Reg;
    src: url("NimbusSanL-Reg.otf");
}

body{
    font-family: NimbusSanL-Reg;
    word-wrap: break-word;
}

.billabong {
    font-family: billabong;
    font-size: 36px;
}
.push-top{
    margin-top: 20vh;
}

.fit{
    object-fit: cover;
}

#heart:hover{
    background-color: red;
}

.delete{
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.hr-text:before {
    content: '';
    background-color: #818078;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
}