body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background: #e2e2e2;
}
.container {
    width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
}

input, selet, button {
    display: block;
    margin: 10px auto 10px auto;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

select, button {
    text-align: center;
    width: 100px;
}

#result {
    width: 100%;
    text-align: left;
}

#result p {
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

#loader {
    display: none;
    margin: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}