.container {
    width: 960px;
    height: 400px;
    margin: auto;
    position: relative;
}

.box {
    width: 320px;
    height: 100%;
    border-bottom: 2px solid black;
    border-radius: 10px;
    float: left;
    box-sizing: border-box;
}

.pillar {
    width: 10px;
    height: 350px;
    top: 50px;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    background: #A0522D;
}

.left140 {
    left: 155px;
}

.left440 {
    left: 475px;
}

.left740 {
    left: 795px;
}

.disk{
    height: 10px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    background: teal;
}

#disk1{
    top: 320px;
    left: 90px;
    width: 140px;
}

#disk2{
    top: 330px;
    left: 80px;
    width: 160px;
}

#disk3{
    top: 340px;
    left: 70px;
    width: 180px;
}

#disk4{
    top: 350px;
    left: 60px;
    width: 200px;
}

#disk5{
    top: 360px;
    left: 50px;
    width: 220px;
}

#disk6{
    top: 370px;
    left: 40px;
    width: 240px;
}

#disk7{
    top: 380px;
    left: 30px;
    width: 260px;
}

#disk8{
    top: 390px;
    left: 20px;
    width: 280px;
}

.controls {
    width: 960px;
    margin: auto;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    clear: both;
}

.controls > button {
    margin-right: 20px;
}